<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jgrue.vgpc"
      android:versionCode="11"
      android:versionName="1.10">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.AppCompat">
        <activity android:name=".VGPCActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PriceListActivity" android:label="@string/app_name"></activity>
		<activity android:name=".FullGameActivity" android:label="@string/full_game_activity_label"></activity>
		<activity android:name=".PriceChartActivity" android:label="@string/price_chart_activity_label"></activity>
		<activity android:name="org.achartengine.GraphicalActivity" android:label="@string/price_chart_activity_label" />
    </application>
</manifest>
